{% load static from static %}
<!DOCTYPE html>
  <head>
    <title>Pong</title>
  </head>
  <h1>Pong<h1>
  <body>
   <canvas id='pong' width='600' height='400'></canvas>
   <script type ='text/javascript' src={% static "file.js "%}></script>
   {% comment %} <script type ='text/javascript' src= {% static "pong.js" %}></script>
   <script type ='text/javascript' src={% static 'Ball.js'%}></script>
   <script type ='text/javascript' src={% static "Game.js" %}></script>
   <script type ='text/javascript' src={% static "Player.js" %}></script>
   <script type ='text/javascript' src={% static "Rectangle.js" %}></script>
   <script type ='text/javascript' src={% static "Vector.js" %}></script> 
     {% endcomment %}
  </body>
</html>
